[Unit]
Description="chemist receiving Github hooks"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
User={{ pillar.elife.deploy_user.username }}
WorkingDirectory=/opt/chemist
ExecStart=/opt/chemist/start.sh 
